@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #305373;
}

/* Headings and logo */

h1, h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    font-size: 200%;
    margin: 10px;
}

/* Navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    background-color: #fff;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    display: flex;
    margin-right: 30px;
}

ul li a:hover {
    border-bottom: 1px solid #305373;
    line-height: normal;
}

.active {
    border-bottom: 1px solid #305373;
    line-height: normal;
}

/* Hero image and cover text */

#hero-outer {
    height: 65vh;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 55vh;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    font-size: 0;

    /* Animates zoom effect on landing page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forward;
}

/* Creates the zoom effect for the hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1.1);
    }
    
    to{
        transform: scale(1);
    }
}

#cover-text {
    font-size: 100%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 20vw;
    height: 20vh;

    padding-top: 30px;
    padding-left: 10px;
    
    background-color: rgba(44, 110, 73, .7);

    bottom: 20px;
    top: 220px;
    right: 100px;

    position: absolute;
}

#call-to-action {
    padding-top: 5%;
    text-align: center;
    font-size: 100%;
}

/* about us */

#about-us {
    color: #fff;
    background-color: #305373;
    height: 75vh;
    width: 100%;
}

#about-us-title {
    text-align: center;
    padding-top: 1%;
}

/* contact us */

#contact {
    height: 30vh;
    width: 100%;
    color: #fff;
    background-color: #2C6E49;
}

#contact-title {
    text-align: center;
    padding-top: 1%; 
}

/* footer */

footer {
    height: 10vh;
    width: 100%;

}

.social-media {
    display: flex;
    justify-content:space-around;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 25%;
    padding-right: 25%;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #305373;
}