@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    height: 100%;
}

body>footer {
    position: sticky;
    top: 100vh;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #305373;
}

/* Headings and logo */
h1,
h2,
h3 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#logo {
    font-size: 200%;
    margin: 10px;
}

/* Navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 3px;

    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 9999;

    background-color: #fff;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    display: flex;
    margin-right: 30px;
}

header ul li a:hover {
    border-bottom: 1px solid #305373;
    line-height: normal;
}

.active {
    border-bottom: 1px solid #305373;
    line-height: normal;
}

/* Hero image and cover text */
#hero-outer {
    height: 60vh;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 55vh;
    width: 100%;
    margin-top: 30px;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    font-size: 0;

    /* Animates zoom effect on landing page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the zoom effect for the hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

/* call to action */
#cover-text {
    font-size: 100%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    justify-content: center;
    border-radius: 20px;

    width: 20vw;
    background-color: rgba(44, 110, 73, .7);

    bottom: 2vw;
    right: 3vw;

    position: absolute;
}

#call-to-action {
    margin: 10%;
    text-align: center;
    font-size: 100%;
}

a {
    text-decoration: none;
}

/* about us */
#about-us {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 30% 30%;
    color: #fff;
    background-color: rgba(48, 83, 115, .9);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: larger;
}

#about-us-title {
    text-align: center;
    margin-top: 10px;
    grid-area: 1 / 1 / 2 / 3;
}

#about-us-top-image {
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;
}

#about-us-top-image>img {
    border-radius: 25px;
    max-width: 100%;
    height: fit-content;
}


#about-us-top-text {
    grid-area: 2 / 2 / 3 / 4;
    text-align: center;
}

#about-us-top-text>p {
    margin: 1%;
}

#about-us-middle-text {
    grid-area: 3 / 1 / 4 / 2;
    text-align: center;
}

#about-us-middle-text>p {
    margin: 1%;
}

#about-us-middle-image {
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
}

#about-us-middle-image>img {
    border-radius: 25px;
    max-width: 100%;
    height: fit-content;
}

#about-us-bottom-text {
    grid-area: 4 / 2 / 5 / 3;
    text-align: center;
    padding: 5%;
    margin-top: 10%;
}

#about-us-bottom-text>p {
    margin-top: 1%;
}

#about-us-bottom-image {
    grid-area: 4 / 1 / 5 / 2;
    text-align: center;
}

#about-us-bottom-image>img {
    border-radius: 25px;
    max-width: 100%;
    height: fit-content;
}

/* contact us */
#contact {
    width: 100%;
    margin-top: 30px;
    color: #fff;
    background-color: rgba(44, 110, 73, .9);
}

#contact-title {
    text-align: center;
    padding: 1%;
}

.contact-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 80%;
    justify-content: space-evenly;
    padding: 1%;
    row-gap: 10%;
    text-align: center;
}

.opening-times-title {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

.opening-times {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
}

.get-in-touch-title {
    grid-column: 2;
    grid-row: 1;
}

.get-in-touch {
    grid-column: 2;
    grid-row: 2;
}

.address-title {
    grid-column: 3;
    grid-row: 1;
}

.address {
    grid-column: 3;
    grid-row: 2;
}

/* footer */
footer {
    height: 10vh;
    width: 100%;
    bottom: 0;
    background-color: #fff;
}

.social-media {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 30%;
    padding-right: 20%;
}

#facebook {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #305373;
}

#twitter {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #305373;
}

#youtube {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #305373;
}

#instagram {
    grid-column: 4;
    grid-row: 1;
    text-align: center;
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #305373;
}

/* Gallery page */
#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 10px;
}

#photos>img {
    width: 100%;
    margin-bottom: 10px;
}

/* Events page */
#events-info {
    background-color: #E0CDCF;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    padding: 5%;

}

#events-info>h2 {
    color: #2C6E49;
    text-align: center;
    grid-row: 1;
    grid-column: span 4;
    border-radius: 25px;
    margin: 0 auto;
}

#events-info>div {
    grid-row: 2;
    color: #fff;
    background-color: #2C6E49;
    border: 10px solid #C5D86D;
    text-align: center;

    border-radius: 25px;
    margin: 5%;
}

#events-info>div>h3,
h4,
h5 {
    padding-top: 5%;
}

#events-info>div>p {
    text-align: center;
    padding-top: 5%;
}

/* Form */
#sign-up {
    background-color: #305373;
    color: #fff;
}

form {
    padding: 5%;
    text-align: center;
}

form>h2,
h3 {
    padding-bottom: 2%;
}

.text-input {
    background: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    background: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid red;
    border-radius: 2px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    font-size: 150%;
    background-color: #fff;
    color: #305373;
}

.join-button:hover {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    font-size: 150%;
    background-color: #2C6E49;
    color: #fff;
}

/* Sign up confirmation page */
.confirmation {
    padding-top: 30vh;
    background-color: #305373;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 60vh;
}

/* Media queries */
/* For larger to medium screen sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {

    #logo {
        font-size: 100%;
    }

    /* call to action */
    #cover-text {
        font-size: 100%;
        font-family: Montserrat, sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        border-radius: 20px;
        text-align: center;

        width: 40vw;
        background-color: rgba(44, 110, 73, .7);

        bottom: 2vw;
        right: 3vw;

        position: absolute;

    }

    a {
        text-decoration: none;
    }


    /* about us */
    #about-us {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% auto auto auto auto auto auto;
        color: #fff;
        background-color: rgba(48, 83, 115, .9);
        width: 100%;

        font-size: larger;
    }

    #about-us>h3 {
        padding-bottom: 0%;
    }

    #about-us-title {
        text-align: center;
        margin: 0 auto;
        padding: 1%;
        grid-area: 1 / 1 / 2 / 2;
    }

    #about-us-top-text {
        grid-area: 2 / 1 / 3 / 2;
        margin: 0 auto;
        padding: 1%;
    }

    #about-us-top-image {
        grid-area: 3 / 1 / 4 / 2;
        text-align: center;
        padding-bottom: 1%;
    }

    #about-us-top-image>img {
        border-radius: 25px;
    }

    #about-us-middle-text {
        grid-area: 4 / 1 / 5 / 2;
        margin: 0 auto;
        padding: 1%;
    }

    #about-us-middle-image {
        grid-area: 5 / 1 / 6 / 2;
        text-align: center;
        padding-bottom: 1%;
    }

    #about-us-middle-image>img {
        border-radius: 25px;
    }

    #about-us-bottom-text {
        grid-area: 6 / 1 / 7 / 2;
        margin: 0 auto;
        padding: 1%;
    }

    #about-us-bottom-image {
        grid-area: 7 / 1 / 8 / 2;
        text-align: center;
        padding-bottom: 10%;
    }

    #about-us-bottom-image>img {
        border-radius: 25px;
    }

    /* contact us */
    #contact {
        height: 70vh;
        width: 100%;
        color: #fff;
        background-color: rgba(44, 110, 73, .9);
    }

    #contact-title {
        text-align: center;
        padding-top: 1%;
    }

    .contact-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto;
        justify-content: center;
        text-align: center;

        grid-row-gap: 10px;
    }

    .opening-times-title {
        grid-column: 1 / span 2;
        grid-row: 1;
        text-align: center;
        padding: 0%;
    }

    .opening-times {
        grid-column: 1 / span 2;
        grid-row: 2;
        text-align: center;
        padding-right: 33%;
        padding-left: 33%;
        padding-bottom: 2%;
    }

    .get-in-touch-title {
        grid-column: 1 / span 2;
        grid-row: 3;
        padding: 0%;
    }

    .get-in-touch {
        grid-column: 1 / span 2;
        grid-row: 4;
        padding-bottom: 2%;
    }

    .address-title {
        grid-column: 1 / span 2;
        grid-row: 5;
        padding: 0%;
    }

    .address {
        grid-column: 1 / span 2;
        grid-row: 6;
        padding-bottom: 2%;
    }

    /* Events page */
    #events-info {
        display: flex;
        flex-direction: column;
        background-color: #E0CDCF;
        color: #fff;
        margin-top: 5%;
    }

    #events-info>h2 {
        font-size: 200%;
    }

    #events-info>div {
        font-size: 150%;
        padding-bottom: 5%;
    }
}

/* For smaller screen sizes from 600px wide and down */
@media screen and (max-width: 600px) {

    .flexbox {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
    }

    #logo {
        grid-column: 1;
        grid-row: 1;
    }

    header a {
        margin: 0 auto;
    }

    header ul li {
        display: block;
        margin: 0 auto;
    }

    header ul li a:hover {
        border-bottom: 1px solid #305373;
        line-height: normal;
    }

    .active {
        border-bottom: 1px solid #305373;
        line-height: normal;
    }

    /* call to action */
    #cover-text {
        font-size: 80%;
        font-family: Montserrat, sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        justify-content: center;
        border-radius: 20px;

        width: 90vw;
        background-color: rgba(44, 110, 73, .7);

        bottom: 5vw;
        right: 3vw;

        position: absolute;
    }

    #call-to-action {
        margin: 10%;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    /* about us */
    #about-us {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% auto auto auto auto auto auto;
        color: #fff;
        background-color: rgba(48, 83, 115, .9);
        width: 100%;
        font-size: larger;
    }

    #about-us>h3 {
        padding-bottom: 0%;
    }

    #about-us-title {
        text-align: center;
        margin: 0 auto;
        padding: 1%;

        grid-area: 1 / 1 / 2 / 2;
    }

    #about-us-top-text {
        grid-area: 2 / 1 / 3 / 2;
        margin: 0 auto;
        padding: 1%;
    }

    #about-us-top-image {
        grid-area: 3 / 1 / 4 / 2;
        margin: 0 auto;
        padding-bottom: 1%;
    }

    #about-us-top-image>img {
        border-radius: 25px;
    }

    #about-us-middle-text {
        grid-area: 4 / 1 / 5 / 2;
        margin: 0 auto;
        padding: 1%;
    }

    #about-us-middle-image {
        grid-area: 5 / 1 / 6 / 2;
        margin: 0 auto;
        padding-bottom: 1%;
    }

    #about-us-middle-image>img {
        border-radius: 25px;
    }

    #about-us-bottom-text {
        grid-area: 6 / 1 / 7 / 2;
        margin: 0 auto;
        padding: 1%;
    }

    #about-us-bottom-image {
        grid-area: 7 / 1 / 8 / 2;
        margin: 0 auto;
        padding-bottom: 20%;
    }

    #about-us-bottom-image>img {
        border-radius: 25px;
    }

    /* contact us */

    #contact {
        width: 100%;
        color: #fff;
        background-color: rgba(44, 110, 73, .9);
    }

    #contact-title {
        text-align: center;
        padding: 1%;
    }

    .contact-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto;
        justify-content: center;
        text-align: center;

        grid-row-gap: 10px;
    }

    .opening-times-title {
        grid-column: 1 / span 2;
        grid-row: 1;
        text-align: center;
        margin-top: 5%;
    }

    .opening-times {
        grid-column: 1 / span 2;
        grid-row: 2;
        text-align: center;
        padding-left: 25%;
        padding-right: 25%;
        margin-bottom: 1%;
    }

    .get-in-touch-title {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .get-in-touch {
        grid-column: 1 / span 2;
        grid-row: 4;
        margin-bottom: 1%;
    }

    .address-title {
        grid-column: 1 / span 2;
        grid-row: 5;
    }

    .address {
        grid-column: 1 / span 2;
        grid-row: 6;
        margin-bottom: 1%;
    }

    /* Gallery page */

    #photos {
        clear: both;
        line-height: 0;
        column-count: 2;
        column-gap: 10px;
        margin-top: 50px;
    }

    #photos>img {
        width: 100%;
        margin-bottom: 10px;
    }

    /* Events page */
    #events-info {
        display: flex;
        flex-wrap: wrap;
        background-color: #E0CDCF;
        background-size: cover;
        overflow: hidden;
        color: #fff;
        margin-top: 10%;
    }

    #events-info>h2 {
        text-align: center;
        margin-bottom: 5%;
    }

    /* Form */

    form {
        background-color: #305373;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        padding: 5%;

    }

    form>h2 {
        margin-bottom: 5%;
    }

}