@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #305373;
}

/* Headings and logo */

h1, h2, h3 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    font-size: 200%;
    margin: 10px;
}

/* Navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;

    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    z-index: 9999;

    background-color: #fff;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    display: flex;
    margin-right: 30px;
}

header ul li a:hover {
    border-bottom: 1px solid #305373;
    line-height: normal;
}

.active {
    border-bottom: 1px solid #305373;
    line-height: normal;
}

/* Hero image and cover text */

#hero-outer {
    height: 65vh;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 55vh;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    font-size: 0;

    /* Animates zoom effect on landing page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forward;
}

/* Creates the zoom effect for the hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1.1);
    }
    
    to{
        transform: scale(1);
    }
}

#cover-text {
    font-size: 100%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    justify-content: center;
    border-radius: 20px;

    width: 20vw;
    height: fit-content;
    margin: 0 auto;
    padding: 1%;
    background-color: rgba(44, 110, 73, .7);

    bottom: 20px;
    top: 250px;
    right: 100px;

    position: absolute;
}

#call-to-action {
    padding-top: 5%;
    text-align: center;
    font-size: 100%;
}

a {
    text-decoration: none;
}

/* about us */

#about-us {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 30% 30%;
    justify-content: center;

    color: #fff;
    background-color: rgba(48, 83, 115, .9);
    height: 180vh;
    width: 100%;

    font-size: larger;
}



#about-us-title {
    text-align: center;
    margin: 20px;

    grid-area: 1 / 1 / 2 / 4;
}

#about-us-top-image {
    grid-area: 2 / 1 / 3 / 3;
    padding-left: 5%;
}

#about-us-top-image > img {
    border-radius: 25px;
}


#about-us-top-text {
    grid-area: 2 / 2 / 3 / 4;
    text-align: center;
    padding: 5%;
}

#about-us-middle-text {
    grid-area: 3 / 1 / 4 / 2;
    text-align: center;
    padding: 5%;
}

#about-us-middle-image {
    grid-area: 3 / 2 / 4 / 3;
    padding-left: 10%;
}

#about-us-middle-image > img {
    border-radius: 25px;
}

#about-us-bottom-text {
    grid-area: 4 / 2 / 5 / 3;
    text-align: center;
    padding: 5%;
}

#about-us-bottom-image {
    grid-area: 4 / 1 / 5 / 2;
    padding-left: 10%;
}

#about-us-bottom-image > img {
    border-radius: 25px;
}

/* contact us */

#contact {
    height: 40vh;
    width: 100%;
    color: #fff;
    background-color: rgba(44, 110, 73, .9);
}

#contact-title {
    text-align: center;
    padding: 1%; 
}

.contact-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 80%;
    justify-content: space-evenly;
    padding: 1%;
    row-gap: 10%;
    text-align: center;
}

.opening-times-title {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

.opening-times {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
}

.get-in-touch-title {
    grid-column: 2;
    grid-row: 1;
}

.get-in-touch {
    grid-column: 2;
    grid-row: 2;
}

.address-title {
    grid-column: 3;
    grid-row: 1;
}

.address {
    grid-column: 3;
    grid-row: 2;
}

/* Events Page */
#events-info {
    height: 55vh;
    width: 100%;
    margin-top: 5%;
    background-color: #305373;
    color: #fff;
}

#events-info > h2 {
    text-align: center;
    padding: 1%;
}
/* Form */

form {
    height: 30vh;
    width: 100%;
    background-color: #C8A7AB;
    text-align: center;

    padding: 1%;
}

/* footer */

footer {
    height: 10vh;
    width: 100%;
    bottom: 0;
    background-color: #fff;
}

.social-media {
    display: flex;
    justify-content:space-around;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 25%;
    padding-right: 25%;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #305373;
}