@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #0C4160;
}

/* Headings and logo */

h1, h2 {
    font-family: Montserrat, sans-serif;
    color: #0C4160;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    font-size: 200%;
    margin: 10px;
}

/* Navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    display: flex;
    margin-right: 30px;
}

ul li a:hover {
    border-bottom: 1px solid #0C4160;
    line-height: normal;
}

.active {
    border-bottom: 1px solid #0C4160;
    line-height: normal;
}

/* Hero image and cover text */

#hero-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 300px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* Animates zoom effect on landing page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forward;
}

/* Creates the zoom effect for the hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 100%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 350px;
    height: 350px;

    padding-top: 20px;
    padding-left: 10px;
    
    background-color: rgba(12, 65, 96, .7);

    bottom: 20px;
    top: 165px;
    right: 100px;

    position: absolute;
}

h3 {
    font-size: smaller;
    text-align: center;
    padding-top: 10px;
}